html {
    font-size :22px;
}

body {
    background-color: darkgreen;
    color: lightyellow;
}
a {
    color: orange;
}
a:visited {
    color: red
}

a:visited, a:active {
    color:pink
}

table, tr, th, td, caption{
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
} 